---
layout: default
---
<div class="page-content">
    <div class="wrapper">

        <div class="post post-screenshot">
            <header class="post-header col-2">

                <h1 class="post-title t-medium">{{ page.organization }}</h1>
                <p class="post-meta t-secondary">
                    {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
                </p>
                <ul class="list-none t-secondary">
                    {% for tag in page.tags %}
                    <li>
                        {{ tag }}
                    </li>
                    {% endfor %}
                </ul>

                {{ page.tag}}
            </header>

            <div class="post-screenshot col-4">
                <img class="shadow-screenshot" width="320" src="{{ page.image}}" />
                {% for pointer in page.pointers %}
                    <div class="pointer" id="" style="{{ pointer }}">
                    </div>
                {% endfor %}
            </div>

            <article class="post-content col-6">
    		  {{ content }}
            </article>
        </div>

    </div>
</div>
